<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- insert head fragment -->
<div th:insert = "~{ base-fragment :: header }"></div>

<br>
HELLO THIS IS THYMELEAF TRAINING COURSE<br>
<br>

<!-- replace footer fragment -->
<div th:replace = "~{ base-fragment :: footer }"></div>
<br><br>

<!-- insert complete fragment -->
<!--
<div th:insert = "~{ base-fragment }"></div>
<br><br>
-->

<!-- insert parameterizable fragment -->
<!--
<div th:insert = "~{ base-fragment :: header-param ('파일', '에디트')}"></div>
<br>
<br>
-->

</body>
</html>